@media screen and (max-width: 400px){
    .main{
        border: 2px solid black;
        height: 400px;
        width: 320px;
        margin-top: 40px;
        background-color: whitesmoke;
        border-radius: 15px;
    }

    button{
        box-shadow: inset 8px 10px 10px 1px rgba(0,0,0,0.5);
        margin-left: -120px;
        padding: 5px;
        width: 100px;
        border-radius: 10px;
        background-color: white;
        font-weight: bold;
        transition: 0.3s;
    }

    button:hover{
        margin-left: -120px;
        padding: 5px;
        width: 100px;
        cursor: pointer;
    }

    .view{
        height: 100px;
        width: 200px;
        border-radius: 15px 0px 0px 15px;
        color: black;
    }

    .output{
        background-color: white;
        height:30px;
        width: 180px;
        color: black;
        border-radius: 10px 0px 0px 10px;
        display: flex;
        justify-content: space-around;
        border : 2px solid black;
    }
    
}
