* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: linear-gradient(to right, #7474bf, #348ac7);
}
.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 550px;
  width: 100%;
}

.main {
  background-color: white;
  height: 400px;
  width: 70%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  margin: 30px;
  height: 50px;
  width: 80%;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.container img {
  margin: 10px;
}

.show {
  height: 40px;
  width: 1000px;
  margin: 10px;
}

#length {
  width: 75%;
}

#down {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

#bottompart {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

#checks {
  width: 100%;
  display: flex;
  justify-content: center;
}

#checks input {
  height: 30px;
  width: 30px;
  margin: 30px;
}

#char {
  width: 100%;
  display: flex;
  justify-content: center;
}

#char p {
  height: 30px;
  width: 30px;
  margin: 30px;
}

#down {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(84, 147, 255);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  margin: 10px;
}
button:hover {
  width: 100px;
  height: 30px;
  background-color: rgb(84, 147, 255);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

img:hover {
  cursor: pointer;
}

.show input {
  width: 100%;
  height: 100%;
  border: none;
}
